<div class="jumbotron jumbotron-fluid header-jumbotron text-center bg-white">
	<div class="container">
	  <h4 style="color: #3775e5; font-weight: bold;">
	  	Are you working in <span style="font-weight: normal;" ng-model="type">{{type}}</span>
	  </h4>      
	</div>
	<br>
	<div class="container">
		<form class="form-inline justify-content-center">
		    <input class="form-control-sm " type="text" placeholder="Your email">
		    <button class="btn btn-success" type="submit">Get Started</button>
		</form>
	</div>

	<br><br>

		<div class="jumbotron jumbotron-fluid footer-jumbotron bg-white">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="card footer-cards">
							<div class="card-body">
								<h5 class="card-title" style="color:#3775e5; ">GREENDECK</h5>
								<p>
									Competition Intelligence for Fashion Brands and Retailers
								</p>
								<p style="color: #3775e5;">
									Proudly Backed By
								</p>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="card footer-cards">
							<div class="card-body">
								<h5 class="card-title" style="color:#3775e5; " >PRODUCT</h5>
								<p>
									Tech
								</p>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="card footer-cards">
							<div class="card-body">
								<h5 class="card-title" style="color:#3775e5;">COMPANY</h5>
								<p>
									Competition Intelligence for Fashion Brands and Retailers
								</p>
								<p>
									Proudly Backed By
								</p>
								<br>
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="card footer-cards">
							<div class="card-body">
								<h5 class="card-title">CONTACT</h5>
								<p>
									Competition Intelligence for Fashion Brands and Retailers
								</p>
								<br>
								<p>
									Proudly Backed By
								</p>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container" align="center">
			<span><img src="src/img/logo.png" align="center" style="max-height: 30px"></span>
			<br>
			<span class="text-blue mark-bold" style="font-size: 14px;"> © 2017</span><br>
			<span style="font-size: 14px;">Bringing science to the art of pricing</span>
		</div>
	
	
</div>