<nav class="navbar navbar-expand-lg bg-white fixed-top">
		<a class="navbar-brand box-shadow bg-white" href="#">
			<img src="src/img/logo.png" style="max-height: 30px;">
		</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse box-shadow">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a href="#" class="nav-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Data</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">About Us</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Blog</a>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="#" class="nav-link">Signin</a>
				</li>	
			</ul>

			<form class="form-inline text-center" action="">
			    <input class="form-control-sm " type="text" placeholder="Your email">
			    <button class="btn btn-success" type="submit">Get Started</button>
			</form>
		</div>
		
	
</nav>